@tailwind base;
@tailwind components;
@tailwind utilities;

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 1rem;
}

.nav {
    background-color: #d5d5d5;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.datos_imagen_Producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.carritoIconContainer {
    padding: 10px;
    border-radius: 9999px;
    background-color: #ededed;
    border: 1px solid #858585;
    cursor: pointer;
}

.button1 {
    @apply text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 rounded
}

.button1:hover {
    background-color: #3b82f6 !important;
    border-color: transparent !important;
}

.button2 {
    @apply font-semibold hover:text-white py-2 px-4 border rounded
}

.mesnaje_carritoActualizado {
    color: green;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

.confirmForm {
    width: 500px;
    margin: auto;
    margin-top: 1rem;
}

.confirmForm label{
    font-weight: bold;
    font-size: 1rem;
}

.confirmForm input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.confirmForm .btnComprar, .confirmForm .btnCancelar{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

.confirmForm .btnCancelar{
    background-color: #e80707d1;
    color: white;
}

.confirmForm .btnComprar:hover {
    background-color: #45a049;
}